{% extends 'base.html' %}
{% block title %}Login {% endblock title %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container w-50">
        <form method="post" class="form-group">{% csrf_token %}
            <h1 class="text-center  text-primary"> <i class="fas fa-graduation-cap    "></i> Login  </h1>
            <div class="form-group">
                {{form|crispy}}
            </div>
            <button href="" type="submit" class="btn  btn-primary">  Login <i class="fas fa-sign-in-alt    "></i> </button>
        </form>
    </div>
{% endblock %}